body {
    margin: 0px;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    color: white;
    background: linear-gradient(#8431ad 0%, #263ede 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.profile {
    width: 175px;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#name {
    font-size: 36px;
    line-height: 1.2;
    font-family:nosifer;
}

#bio {
    padding: 50px;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.links:hover{
    background: dodgerblue;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.article:hover{
    color:fuchsia;
}
#Contact {
    background: firebrick;
}
#Contact iframe {
    width: 100%;
}
.Contact2 h3 {
    display: inline;
}
.Contact2 a {
    color: white;
    text-shadow: none;
}


